body
{
	color: #333;
	text-align: left;
	font-family: "Arial";
}
#container{
	width: 80%;
	padding: 1em;
	text-align: left;
	border: 1px solid #DDD;
	margin: 0 auto;
}
#contaner h1{
	font-size: 20px;
}
#cabecera {
	background:#33A;
	color: white;
	margin: 1 auto;
	padding: 0.5em;
	font-weight: bold;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
}
#cabecera #tagline{
	margin:0 0 0 1em;
	padding: 0.5em;
	font-weight: normal;
	font-size: 0.95em;
}	
#fotter{
	background: #777;
	color: white;
	text-align: center;
	padding: 0.5em;

}
