body
{
	color: #333;
	text-align: left;
	font-family: "Arial";
}
#container{
	width: 80%;
	padding: 1em;
	text-align: center;
	border: 1px solid #DDD;
	margin: 0 auto;
}
#contaner h1{
	font-size: 20px;
}